body {
  margin: 0;
  box-sizing: border-box !important;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 10px;background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: #ea580c;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #b84f17;
}
.strokeCustom{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ea580c;
}
.strokeCustom span{
  color: white;
  -webkit-text-stroke-width: 0px;
  font-family: 'Phudu','Courier New', Courier, monospace;
}
textarea{
  resize: none !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
